:root {
  --bg-color: #2e2e2e;
  color-scheme: dark;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100svh;
  background: #4d4d4d;
  overscroll-behavior: contain;
}
* {
  font-family: "PrimaryFont300";
  -webkit-tap-highlight-color: transparent;
}

@font-face {
  font-family: "AccentFontRegular";
  src: url("/fonts/SpaceGrotesk-Regular.woff2") format("woff2"),
    url("/fonts/SpaceGrotesk-Regular.woff") format("woff");
}

@font-face {
  font-family: "PrimaryFont200";
  src: url("/fonts/Manrope-ExtraLight.woff2") format("woff2"),
    url("/fonts/Manrope-ExtraLight.woff") format("woff");
}
@font-face {
  font-family: "PrimaryFont300";
  src: url("/fonts/Manrope-Light.woff2") format("woff2"),
    url("/fonts/Manrope-Light.woff") format("woff");
}

.Hidden {
  display: none !important;
}

.HomeContainer {
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;
  padding-top: 2rem;
}
.AuthContainer {
  display: flex;
  gap: 5px;
  flex-direction: column;
  width: 30ch;
}

.PlayerContainer {
  display: flex;
  flex-direction: column;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.15) 0%,
      rgba(0, 0, 0, 0.4) 100%
    ),
    var(--bg-color);
  height: 100%;
  color: #ffffff;
  transition: height 0.2s;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.Player {
  display: flex;
  flex-direction: column;
  padding-inline: 2rem;
}

#AudioPlayer {
  display: none;
}
#MinimizePlayer {
  width: 2.5rem;
  align-self: flex-end;
  opacity: 0.8;
  margin-top: 2rem;
  cursor: pointer;
}

.MusicInfoContainer {
  display: flex;
  flex-direction: column;
  margin-block: 1.5rem 1.5rem;
}
.MusicInfoContainer > * {
  margin: 0;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 1.1rem;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.MusicInfoContainer > h1 {
  font-family: "AccentFontRegular";
  line-height: unset;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.MusicInfoContainer > h3 {
  font-size: 0.9rem;
  font-family: "PrimaryFont200";
  letter-spacing: 0.8px;
}

#AlbumArt {
  width: 15rem;
  border-radius: 5px;
  aspect-ratio: 1;
  object-fit: cover;
  border: 1px solid #ffffff3b;
  margin-bottom: 1rem;
  background: linear-gradient(135deg, #00000000 0%, #0000001e 100%);
}

.TimestampsContainer {
  display: flex;
  justify-content: space-between;
  font-family: "PrimaryFont300";
}
.TimestampsContainer > p {
  margin-block: 5px 0;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.ControlsContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
  align-items: center;
}
.ControlsContainer > * {
  width: 1.5rem;
  cursor: pointer;
}
.ControlsContainer > *:nth-child(1) {
  padding-right: 2rem;
}
.ControlsContainer > *:nth-child(2) {
  width: 3rem;
  height: 3rem;
}

.ControlsContainer > *:nth-child(3) {
  padding-left: 2rem;
}

/* ---------------------------------------------------- */
/* Minimized player                                     */
/* ---------------------------------------------------- */

.SmallPlayer {
  height: 5rem;
  flex-direction: row;
  padding-inline: 0;
  position: absolute;
  bottom: 0;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.15) 0%,
      rgba(0, 0, 0, 0.15) 100%
    ),
    var(--bg-color);
  border-top: solid 1px var(--bg-color);
}
.SmallPlayer .Player {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 0;
}
.SmallPlayer #MinimizePlayer,
.SmallPlayer input[type="range"],
.SmallPlayer .MusicInfoContainer > h3:nth-child(3),
.SmallPlayer .TimestampsContainer,
.SmallPlayer .ControlsContainer > img:nth-child(1),
.SmallPlayer .ControlsContainer > img:nth-child(3),
.SmallPlayer #AlbumArt {
  display: none;
}
.SmallPlayer .MusicInfoContainer {
  margin: 0;
  justify-content: center;
  margin-left: 2rem;
  flex: 1;
  cursor: pointer;
}
.SmallPlayer .MusicInfoContainer > h1 {
  margin: 0;
  font-size: 1rem;
  max-width: 65vw;
}
.SmallPlayer .MusicInfoContainer > h3 {
  font-size: 0.9rem;
  max-width: 65vw;
}
.SmallPlayer .ControlsContainer {
  margin: 0;
  margin-right: 2rem;
}
.SmallPlayer .ControlsContainer > *:nth-child(2) {
  width: 2.5rem;
  height: 2.5rem;
}
/* ---------------------------------------------------- */
/* Timeline range input                                 */
/* ---------------------------------------------------- */

input[type="range"] {
  width: 100%;
  margin: 6px 0;
  background-color: transparent;
  -webkit-appearance: none;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  background: rgba(255, 255, 255, 0.5);
  border: 0;
  border-radius: 0.7px;
  width: 100%;
  height: 1px;
  cursor: pointer;
}
input[type="range"]::-webkit-slider-thumb {
  margin-top: -6px;
  width: 13px;
  height: 13px;
  background: #ffffff;
  border: 0.9px solid #ffffff;
  border-radius: 4px;
  cursor: pointer;
  -webkit-appearance: none;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #ffffff;
}
input[type="range"]::-moz-range-track {
  background: rgba(255, 255, 255, 0.5);
  border: 0;
  border-radius: 0.7px;
  width: 100%;
  height: 1px;
  cursor: pointer;
}
input[type="range"]::-moz-range-thumb {
  width: 13px;
  height: 13px;
  background: #ffffff;
  border: 0.9px solid #ffffff;
  border-radius: 4px;
  cursor: pointer;
}
input[type="range"]::-ms-track {
  background: transparent;
  border-color: transparent;
  border-width: 7.5px 0;
  color: transparent;
  width: 100%;
  height: 1px;
  cursor: pointer;
}
input[type="range"]::-ms-fill-lower {
  background: #fafafa;
  border: 0;
  border-radius: 1.4px;
}
input[type="range"]::-ms-fill-upper {
  background: rgba(255, 255, 255, 0.5);
  border: 0;
  border-radius: 1.4px;
}
input[type="range"]::-ms-thumb {
  width: 13px;
  height: 13px;
  background: #ffffff;
  border: 0.9px solid #ffffff;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 0px;
  /*Needed to keep the Edge thumb centred*/
}
input[type="range"]:focus::-ms-fill-lower {
  background: rgba(255, 255, 255, 0.5);
}
input[type="range"]:focus::-ms-fill-upper {
  background: #ffffff;
}
